.jumbotron {
    background: url("/assets/images/galaxy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.punchline {
    color:rgb(221, 221, 221);
    text-shadow: 2px 2px 5px whitesmoke;
    text-align: right;
}
.grid-container {
    text-align: center;
}


